extends layout
block stylesheet
  link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
block prepend script
  //- prepend will do prependation instead of replacing to the block
  script
    console.log('script from index.jade')
block append content
  //- append will do appendation instead of replacing to the block
  h2 Hello from index.jade

  form(action='/login', method='post')
    label(for='email') email
    input(id='email', name='email', type='text', value='', placeholder='Your user name')
    label(for='password') password
    input(id='password', name='password', type='text', value='', placeholder='Your password')
    input(type='submit', value='Ok')
